<p>news works!</p>

<h2>{{ title }}</h2>

<ul *ngFor="let item of arr">
  <li>{{ item }}</li>
</ul>

<div *ngIf="true"></div>

<!-- <div [ngSwitch]="conditionExpression">
  <div *ngSwitchCase="expression">output</div>
  <div *ngSwitchDefault>output2</div>
</div> -->

// 动态改变样式
<div [ngClass]="{ red: flag, blue: !flag }">文字</div>

<div [ngStyle]="{ color: 'red' }">1</div>

<!-- [(ngModel)]="binding" -->

<div>
  <ul>
    <li *ngFor="let item of listFromServe">
      <span>{{ item.title }}</span>
      <ul>
        <li *ngFor="let innerItem of item.list">{{ innerItem.title }}</li>
      </ul>
    </li>
  </ul>
</div>

<input type="text" placeholder="输入你要提交的数据" />

<button type="button" (click)="doPost()">post提交数据</button>
